manifest {
    name = 'rnaseq-nextflow'
    description = 'Paired-end bulk RNA-seq: QC, trimming, STAR, featureCounts, DESeq2 and MultiQC'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    outdir = 'results'
    skip_deseq2 = false
}

process {
    executor = 'local'
    conda = "${projectDir}/envs/rnaseq.yml"
    maxForks = 10
    withLabel: rnaseq {
        cpus = 4
        memory = '8 GB'
        time = '12h'
    }
    withLabel: star_index {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
    withLabel: star_align {
        cpus = 8
        memory = '24 GB'
        time = '24h'
    }
    errorStrategy = 'retry'
    maxRetries = 1
}

conda {
    useMamba = false
}

// Automatically remove the work/ directory after a successful run to avoid
// accumulating large intermediate files (BAMs, STAR indices) on quota-limited
// filesystems. NOTE: this disables `-resume` after a successful completion,
// since resume relies on cached files in work/. Comment out while actively
// iterating/debugging a pipeline.
cleanup = true

profiles {
    conda {
        conda.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'your_partition_name'          // TODO: set to your actual partition (see `sinfo`)
        process.clusterOptions = '--account=your_account_name'  // TODO: set to your actual account (see `sacctmgr show associations user=chandhraav`)
        conda.enabled = true
    }
}

report.enabled = true
trace.enabled = true
timeline.enabled = true
dag.enabled = true
